*{
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
:root{
    --main-color: white;
    --main-bg-color: RGB(18, 17, 36);
    --main-accent-color: RGB(56, 69, 118);
    --main-line-color: white;
}

/* nav styling*/
nav {

    text-decoration: none;
    grid-area: nav;
    padding: 3px;
    background-color: var(--main-accent-color);
    border: thin solid var(--main-line-color);
    border-width: 1px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    max-width: 70%;
}

nav a{
    font-size: 12px;
    color: white;
    display: inline-block;
    padding: 14px 16px;
}

nav a:hover{
    background-color: darkgray;
}

article, section, aside, nav{
    padding: 1%;
}

header h1{
    padding: 5px;
    grid-area: header;
    font-size: 25px;
    text-align: left;
}
header h2{
    padding: 5px;
    grid-area: header;
    font-size: 20px;
    max-height: 30em;
    text-align: right;
}

/* general css*/


figure{
    float: left;
    text-align: center;
    width: 30%;
}

img{
    max-width: 100%;
}



html{
    background-color: var(--main-bg-color);
}


body{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    max-width: 50em;
    line-height: 1.3em;
    padding: 1%;
    margin: auto;
    display: grid;
    grid-template-areas:
            "header nav"
            "main main"
            "footer footer";
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
    top: 0;
    max-width: 100%;
}

nav a{
    display: inline-block;
    padding: 0 1em;
}

main{
    grid-area: main;
    margin: 30px;
}

footer{
    grid-area: footer;
    border: thin solid var(--main-line-color);
    background: var(--main-accent-color);
    padding: 1em;
    margin: 15px;
    border-width: 1px;
}

